.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/cmake_install.cmake
build/Makefile
build/CMakeFiles/ServicePortal.dir/cmake_clean.cmake
build/CMakeFiles/ServicePortal.dir/build.make
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/ServicePortal.dir/depend.internal
build/CMakeFiles/Progress/3
build/CMakeFiles/3.19.4/CompilerIdCXX/a.exe
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/1
build/CMakeFiles/ServicePortal.dir/bank.cpp.obj
build/CMakeFiles/ServicePortal.dir/CXX.includecache
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.4/CMakeSystem.cmake
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.19.4/CompilerIdC/a.exe
build/.cmake/api/v1/reply/codemodel-v2-52172aed4eb0e5ab4b5e.json
build/.cmake/api/v1/reply/target-ServicePortal-Debug-3b1960995edd8cffa1b2.json
build/.cmake/api/v1/reply/cache-v2-55590044e8815cd0a214.json
build/.cmake/api/v1/reply/index-2021-02-05T10-22-44-0723.json
build/CMakeFiles/ServicePortal.dir/bankterminal.cpp.obj
build/CMakeFiles/ServicePortal.dir/link.txt
build/CMakeFiles/ServicePortal.dir/main.cpp.obj
build/CMakeFiles/ServicePortal.dir/mainterminal.cpp.obj
build/CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/ServicePortal.dir/DependInfo.cmake
build/CMakeFiles/ServicePortal.dir/linklibs.rsp
build/CMakeFiles/ServicePortal.dir/progress.make
build/CMakeFiles/ServicePortal.dir/depend.make
build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.4/CMakeCCompiler.cmake
build/CMakeFiles/3.19.4/CMakeRCCompiler.cmake
build/CMakeFiles/Progress/5
build/CMakeFiles/ServicePortal.dir/objects.a
build/CMakeFiles/Makefile2
build/CMakeFiles/ServicePortal.dir/flags.make
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/ServicePortal.dir/objects1.rsp
build/ServicePortal.exe
build/CMakeFiles/progress.marks
build/compile_commands.json
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-6a90d9f192528268a6a0.json
build/.cmake/api/v1/reply/index-2021-02-05T10-51-48-0094.json
build/.cmake/api/v1/reply/index-2021-02-05T10-53-21-0669.json
